.color-black {
  color: #000 !important;
}
.bg-black {
  background-color: #000 !important;
}
.color-white {
  color: #fbfbf6 !important;
}
.bg-white {
  background-color: #fbfbf6 !important;
}
.color-off-white {
  color: #f9f7ef !important;
}
.bg-off-white {
  background-color: #f9f7ef !important;
}
.color-lightest-gray {
  color: rgba(0, 0, 0, 0.1) !important;
}
.bg-lightest-gray {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.color-light-gray {
  color: rgba(0, 0, 0, 0.2) !important;
}
.bg-light-gray {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.color-medium-gray {
  color: rgba(0, 0, 0, 0.4) !important;
}
.bg-medium-gray {
  background-color: rgba(0, 0, 0, 0.4) !important;
}
.color-dark-gray {
  color: rgba(0, 0, 0, 0.65) !important;
}
.bg-dark-gray {
  background-color: rgba(0, 0, 0, 0.65) !important;
}
.color-darkest-gray {
  color: rgba(0, 0, 0, 0.8) !important;
}
.bg-darkest-gray {
  background-color: rgba(0, 0, 0, 0.8) !important;
}
.color-error {
  color: #c00 !important;
}
.bg-error {
  background-color: #c00 !important;
}
.color-light-black {
  color: #080f21 !important;
}
.bg-light-black {
  background-color: #080f21 !important;
}
#cart {
  width: 320px;
  margin: 0 auto;
  margin-top: 140px;
}
@media print, screen and (max-width: 35.99875em) {
  #cart {
    margin-top: 150px;
  }
}
#cart .summary-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 15px 0;
  font-size: 12px;
  line-height: 1.3em;
  letter-spacing: 0.02em;
  font-weight: 500;
}
@media print, screen and (max-width: 35.99875em) {
  #cart .summary-row {
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
  }
}
#cart .summary-row > div {
  -ms-flex-positive: 2;
  flex-grow: 2;
}
#cart .summary-row select {
  background: transparent;
  border: none;
  padding: 0;
  text-align: right;
  display: inline;
  width: auto;
  height: auto;
}
@media print, screen and (max-width: 35.99875em) {
  #cart .summary-row select {
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
  }
}
#cart .summary-row.summary-total {
  margin-bottom: 60px;
}
#cart .summary-divider {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
#cart .promo-code-submit {
  padding-left: 5px;
}
#cart .remove-product {
  opacity: 0.5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
@media print, screen and (max-width: 35.99875em) {
  #cart .remove-product {
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
  }
}
#cart .remove-product:hover {
  color: #d0021b;
  border-bottom: 1px solid #d0021b;
  opacity: 1;
}
#cart .remove-promo {
  opacity: 0.5;
  margin-left: 10px;
}
@media print, screen and (max-width: 35.99875em) {
  #cart .remove-promo {
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
  }
}
#cart .remove-promo:hover {
  opacity: 1;
}
#cart .empty-cart {
  margin-top: 200px;
}
#cart #toggle-promo-form {
  cursor: pointer;
}
#cart #toggle-promo-form .down {
  display: none;
}
#cart #toggle-promo-form.active .down {
  display: inline;
}
#cart #toggle-promo-form.active .right {
  display: none;
}
#cart #promo-form {
  display: none;
}
#cart #promo-form.visible {
  display: block;
}
#cart #promo-form .coupon-error {
  margin: 10px 0;
}
#cart #promo-form .coupon-error .coupon-missing-error,
#cart #promo-form .coupon-error .coupon-error-message {
  background-position: 0 0 !important;
  padding-bottom: 2px;
}
#cart .coupon-price-adjustment {
  margin: 15px 0;
  border: 1px solid #ccc;
  padding: 15px 15px 13px;
}
#cart .coupon-price-adjustment .coupon-code {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
#cart .coupon-price-adjustment .coupon-code .coupon-code-value {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
@media print, screen and (max-width: 35.99875em) {
  #cart .coupon-price-adjustment .coupon-code .coupon-code-value {
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
  }
}
#cart .hide-order-discount,
#cart .hide-shipping-discount,
#cart .non-adjusted-price {
  display: none;
}
@media print, screen and (max-width: 35.99875em) {
  #cart .checkout-button-wrapper {
    position: sticky;
    bottom: 0;
    left: 0;
    top: 0;
    background-color: #fbfbf6;
    padding-bottom: 30px;
  }
}
@media print, screen and (max-width: 35.99875em) {
  #cart .promo-code-form #couponCode {
    line-height: 1.9;
    font-size: 14px;
  }
}
#cart .coupon-message.error {
  color: #c00;
  margin-top: 0.58333rem;
  margin-bottom: 0;
  font-size: 0.91667rem;
  font-weight: 500;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIzMnB4IiBoZWlnaHQ9IjMycHgiIHZpZXdCb3g9IjAgMCAzMiAzMiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4gICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+ICAgICAgICA8ZyBpZD0iR3JvdXAiIGZpbGw9IiNjMDAiPiAgICAgICAgICAgIDxwYXRoIGQ9Ik0xNiwzIEMyMy4yLDMgMjksOC44IDI5LDE2IEMyOSwyMy4yIDIzLjIsMjkgMTYsMjkgQzguOCwyOSAzLDIzLjIgMywxNiBDMyw4LjggOC44LDMgMTYsMyBMMTYsMyBaIE0xNiwwIEM3LjIsMCAwLDcuMiAwLDE2IEMwLDI0LjggNy4yLDMyIDE2LDMyIEMyNC44LDMyIDMyLDI0LjggMzIsMTYgQzMyLDcuMiAyNC44LDAgMTYsMCBMMTYsMCBaIiBpZD0iU2hhcGUiIGZpbGwtcnVsZT0ibm9uemVybyI+PC9wYXRoPiAgICAgICAgICAgIDxyZWN0IGlkPSJSZWN0YW5nbGUiIHg9IjE0LjUiIHk9IjciIHdpZHRoPSIzIiBoZWlnaHQ9IjEwIj48L3JlY3Q+ICAgICAgICAgICAgPHJlY3QgaWQ9IlJlY3RhbmdsZSIgeD0iMTQuNSIgeT0iMjEiIHdpZHRoPSIzIiBoZWlnaHQ9IjQiPjwvcmVjdD4gICAgICAgIDwvZz4gICAgPC9nPjwvc3ZnPg==);
  background-repeat: no-repeat;
  -webkit-background-size: 11px 11px;
  background-size: 11px 11px;
  background-position: 0 2px;
  padding: 0 0 0 20px;
}
.product-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 15px;
  padding-top: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.product-row.unavailable {
  opacity: 0.5;
}
.product-row .item-image {
  padding-right: 15px;
}
.product-row .item-image .product-image {
  max-width: 61px;
}
.product-row .line-item-name {
  font-size: 10px;
  letter-spacing: 0.08em;
  line-height: 1.4em;
  padding: 0 10px 10px 0;
  font-weight: 400;
  text-transform: uppercase;
}
@media print, screen and (max-width: 35.99875em) {
  .product-row .line-item-name {
    font-size: 12px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
  }
}
.product-row .item-attributes span {
  font-size: 12px;
  line-height: 1.3em;
  letter-spacing: 0.02em;
  font-weight: 400;
}
@media print, screen and (max-width: 35.99875em) {
  .product-row .item-attributes span {
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
  }
}
.product-row .product-info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-positive: 2;
  flex-grow: 2;
}
.product-row .product-info .item-caption {
  -ms-flex-positive: 2;
  flex-grow: 2;
}
.product-row .product-info .item-price {
  text-align: right;
}
.product-row .product-info .item-price .strike-through,
.product-row .product-info .item-price .pricing {
  white-space: nowrap;
}
.product-row .product-info .item-price .strike-through {
  color: rgba(0, 0, 0, 0.4);
}
@media print, screen and (max-width: 35.99875em) {
  .product-row .product-info .item-price {
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
  }
}
.product-row .line-item-tool {
  padding-top: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
@media print, screen and (max-width: 35.99875em) {
  .product-row .line-item-tool {
    display: block;
    font-size: 12px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
  }
}
.product-row .quantity-form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 10px;
}
@media print, screen and (max-width: 35.99875em) {
  .product-row .quantity-form {
    display: block;
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
  }
}
.product-row .quantity-form .quantity-text {
  min-width: 10px;
  text-align: center;
}
.product-row .quantity-form button {
  padding: 0 3px;
}
@media print, screen and (max-width: 35.99875em) {
  .product-row .quantity-form button {
    padding: 10px;
  }
}
@media print, screen and (max-width: 35.99875em) {
  .product-row .quantity-form button:first-child {
    margin-left: -10px;
  }
}
@media print, screen and (max-width: 35.99875em) {
  .product-row .quantity-form button svg {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.product-row .quantity-form .quantity-increase-buttons {
  position: relative;
}
.product-row .quantity-form .loading-quantity-spinner {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #fbfbf6;
  top: 50%;
  padding: 4px;
}
@media print, screen and (max-width: 35.99875em) {
  .product-row .quantity-form .loading-quantity-spinner {
    left: 10%;
    padding-left: 14px;
    padding-right: 14px;
  }
}
