.color-black {
  color: #000 !important;
}
.bg-black {
  background-color: #000 !important;
}
.color-white {
  color: #fbfbf6 !important;
}
.bg-white {
  background-color: #fbfbf6 !important;
}
.color-off-white {
  color: #f9f7ef !important;
}
.bg-off-white {
  background-color: #f9f7ef !important;
}
.color-lightest-gray {
  color: rgba(0, 0, 0, 0.1) !important;
}
.bg-lightest-gray {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.color-light-gray {
  color: rgba(0, 0, 0, 0.2) !important;
}
.bg-light-gray {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.color-medium-gray {
  color: rgba(0, 0, 0, 0.4) !important;
}
.bg-medium-gray {
  background-color: rgba(0, 0, 0, 0.4) !important;
}
.color-dark-gray {
  color: rgba(0, 0, 0, 0.65) !important;
}
.bg-dark-gray {
  background-color: rgba(0, 0, 0, 0.65) !important;
}
.color-darkest-gray {
  color: rgba(0, 0, 0, 0.8) !important;
}
.bg-darkest-gray {
  background-color: rgba(0, 0, 0, 0.8) !important;
}
.color-error {
  color: #c00 !important;
}
.bg-error {
  background-color: #c00 !important;
}
.color-light-black {
  color: #080f21 !important;
}
.bg-light-black {
  background-color: #080f21 !important;
}
.color-black {
  color: #000 !important;
}
.bg-black {
  background-color: #000 !important;
}
.color-white {
  color: #fbfbf6 !important;
}
.bg-white {
  background-color: #fbfbf6 !important;
}
.color-off-white {
  color: #f9f7ef !important;
}
.bg-off-white {
  background-color: #f9f7ef !important;
}
.color-lightest-gray {
  color: rgba(0, 0, 0, 0.1) !important;
}
.bg-lightest-gray {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.color-light-gray {
  color: rgba(0, 0, 0, 0.2) !important;
}
.bg-light-gray {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.color-medium-gray {
  color: rgba(0, 0, 0, 0.4) !important;
}
.bg-medium-gray {
  background-color: rgba(0, 0, 0, 0.4) !important;
}
.color-dark-gray {
  color: rgba(0, 0, 0, 0.65) !important;
}
.bg-dark-gray {
  background-color: rgba(0, 0, 0, 0.65) !important;
}
.color-darkest-gray {
  color: rgba(0, 0, 0, 0.8) !important;
}
.bg-darkest-gray {
  background-color: rgba(0, 0, 0, 0.8) !important;
}
.color-error {
  color: #c00 !important;
}
.bg-error {
  background-color: #c00 !important;
}
.color-light-black {
  color: #080f21 !important;
}
.bg-light-black {
  background-color: #080f21 !important;
}
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: auto;
  touch-action: auto;
  -moz-backface-visibility: hidden;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.owl-carousel .owl-stage::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  height: 100%;
  left: -1px;
  right: -1px;
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -ms-flex-item-align: center;
  align-self: center;
  height: 100%;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}
.owl-carousel .owl-item img {
  max-height: 100%;
  width: auto;
  display: inline;
  margin-right: -3px;
}
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  background: transparent;
  position: absolute;
  top: calc(50% - (33px / 2));
}
.owl-carousel .owl-nav button.owl-next {
  right: 5%;
  display: block;
  width: 16px;
  height: 16px;
  border: solid #fff;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.owl-carousel .owl-nav button.owl-prev {
  left: 5%;
  display: block;
  width: 16px;
  height: 16px;
  border: solid #fff;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
.owl-carousel.black .owl-nav button.owl-next {
  display: block;
  width: 16px;
  height: 16px;
  border: solid #000;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.owl-carousel.black .owl-nav button.owl-prev {
  display: block;
  width: 16px;
  height: 16px;
  border: solid #000;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
@media print, screen and (max-width: 47.99875em) {
  .owl-carousel.black-mobile .owl-nav button.owl-next {
    display: block;
    width: 16px;
    height: 16px;
    border: solid #000;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .owl-carousel.black-mobile .owl-nav button.owl-prev {
    display: block;
    width: 16px;
    height: 16px;
    border: solid #000;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}
@media print, screen and (max-width: 47.99875em) {
  .owl-carousel.white-mobile .owl-nav button.owl-next {
    display: block;
    width: 16px;
    height: 16px;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .owl-carousel.white-mobile .owl-nav button.owl-prev {
    display: block;
    width: 16px;
    height: 16px;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: auto;
  touch-action: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
.owl-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}
.owl-dots button.owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #000;
  margin: 0 5px;
}
.owl-dots button.owl-dot.active {
  background-color: #fbfbf6;
}
.no-js .owl-carousel {
  display: block;
}
.pd-slider .owl-carousel {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.pd-default-photo-grid .toggle-slider {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
